# Virtual environments
.venv/
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env
backend/.env
frontend/.env

# Django stuff
db.sqlite3
*.log
staticfiles/

# VS Code (optional)
.vscode/

# Local tooling
.tools/

# Local migration fixes (do not push)
backend/accounts/migrations/0018_remove_cartitem_unique_cart_user_product_and_more.py

# Gitignore itself
.gitignore
